{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if page_url %}
    {% set array_path = {
      'calendar-node-field-event-date/month': 'Month',
      'calendar-node-field-event-date/day': 'Day',
      'calendar-node-field-event-date/year': 'Year'
    } %}
  <div class="campl-content-container campl-no-bottom-padding">
    <h2 class="visually-hidden">Primary tabs</h2>
    <ul class="campl-nav campl-nav-tabs campl-unstyled-list">
      {% for key,value in array_path %}
        {% if key == page_url %}
          <li class="active"><a href="/{{ key }}" class="active">{{ value }}</a></li>
        {% else %}
          <li><a href="/{{ key }}">{{ value }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if header or pager %}
    <div class="view-header">
      {{ header }}
      {% if pager %}
      <div class="date-nav-wrapper clearfix">
        <div class="date-nav item-list">
          <div class="date-heading">
            <h3>{{ nav_title }}</h3>
          </div>
        {{ pager }}
        </div>
      </div>
      {% endif %}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
